<div class="jumbotron-special" ng-init="init()">
    <div class="container text-center">
        <div class="mt-5">
            <h1 style="color: gray;">Insurance</h1>
        </div>
        <div class="mt-5">
            <button type="button" class="btn btn-primary large-button mr-5" ng-click="newProposal()">Proposal</button>
            <button type="button" class="btn btn-secondary large-button ml-5 mr-5" ng-click="newPolicy()">Uncomfired Policies</button>
            <button type="button" class="btn btn-warning large-button ml-5" ng-click="oldPolicies()">Confirmed Policies</button>
        </div>
        
    </div>
 </div>